<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular</title>
</head>
<body ng-app="todo">
  <div ng-controller="todo.form.controllers.List">
    <h1>{{ title }}</h1>

    <div>
      <form ng-submit="saveUser()">
        <input type="text" placeholder="Novo Usuário" ng-model="newUser.name">
      </form>
    </div>

    <div>
      {{ initialize }}
    </div>

    <ul>
      <li ng-repeat="user in users">
        {{ user.name }} - {{ user.age }}
      </li>
    </ul>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  <script src="javascripts/app.min.js"></script>
</body>
</html>
