<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular</title>

  <style>
    .error {
      border: 1px solid red;
    }
  </style>
</head>
<body ng-app="todo">
  <div ng-controller="todo.form.controllers.List">
    <h1>{{ title }}</h1>

    <div>
      <form ng-submit="save()" name="newUser">
        <h2>Novo Usuário</h2>
        <input type="text" placeholder="Nome" name="name"
          ng-model="user.name"
          ng-required="true"
          ng-class="{ error: isInvalid('name') && submitted }">
        <span ng-show="isInvalid('name')">Preencha o campo nome</span><br>

        <input type="number" placeholder="Idade" name="age"
          ng-model="user.age"
          min="0" max="99" required
          ng-class="{ error: isInvalid('age') && submitted }">
        <span ng-show="newUser.age.$error.required">Preencha o campo idade</span>
        <span ng-show="newUser.age.$error.number">Precisa ser um número</span>

        {{newUser.age.$error}}
        <button type="submit" ng-click="submitted = true">Enviar</button>
      </form>
    </div>

    <ul>
      <li ng-repeat="user in users track by $index">
        {{ user.name }} - {{ user.age }}
      </li>
    </ul>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <script src="javascripts/app.min.js"></script>
</body>
</html>
